.App {
  text-align: center;
  min-height: 100vh;
  background-color: #D8E9A8;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: #1E5128;
  overflow: hidden;
}

* {
  font-family: 'Noto Sans', sans-serif;
}

html {
  background-color: #D8E9A8;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.white {
  background: #f2f2f2;
}

.white, .white button {
  color: #1E5128;
}

.green {
  background: rgba(78, 159, 61, 0.8);
}

.dark-green {
  background: rgba(30, 81, 40, 0.8);
}

.dark-click:hover {
  background: rgba(30, 81, 40, 0.8);
}

.white-text, .white-text button {
  color: #fff;
}

.half {
  width: 43% !important;
  margin: 10px 1% !important;
}

.right {
  position: absolute;
  right: 90px;
}

.AppForeground {
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

select {
  -webkit-appearance: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

button:focus {
  background: rgba(78, 159, 61, 0.8);
  color: #fff;
}